{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if community %}
        <form action="{{ path }}"
              method="post"
              class="edit-form enableAutoFocus enableUnloadProtect"
              enctype="multipart/form-data"
              >
    {% else %}
        <form action="{{ path }}" 
              method="post"
              class="edit-form enableAutoFocus enableUnloadProtect">
    {% endif %}
        <fieldset>
        {% for field in form %}
            {% if not field.is_hidden %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}  
                    <div class="clear"><!-- --></div>
                </div>
            {% else %}                                                          
                {{ field }}
            {% endif %}
        {% endfor %}
        {% csrf_token %}
        <div class="form-controls">
          <input type="submit" value="{% trans 'Save' %}" /> 
          <input type="reset" value="{% trans 'Undo' %}" />
        </div>
        </fieldset>
    </form>    
{% endblock %}
