{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <p class="discreet">
        {% blocktrans %}Select people in the form below or search users. When you send an invitation, they receive a message asking them to join your community.{% endblocktrans %}
    </p>

    <form action="" method="GET" class="edit-form enableAutoFocus">
        <fieldset>
            <label>{% blocktrans %}Search users{% endblocktrans %}</label>
            <div class="fieldWrapper">
                <label for="user_search">{% blocktrans %}Name, email, ...{% endblocktrans %}</label>
                <input type="text" value="{% if q %}{{ q }}{% endif %}" name="q" id="user_search" style="width: 250px" size="30" />
                <input type="submit" value="{% blocktrans %}Search{% endblocktrans %}" />
            </div>
        </fieldset>
    </form>

    {#  This is either my current network OR user search result.  #}
    
    <form action="" method="POST" class="edit-form">
        {% csrf_token %}
        <fieldset>
            <label>
                {% if q %}{% blocktrans %}Search results{% endblocktrans %}
                {% else %}{% blocktrans %}Invite people from your network{% endblocktrans %}
                {% endif %}
            </label>
        
            <div class="fieldWrapper">
                <div class="networkGrid">
                    {% for account in selectable %}
                        {% include "account/select.part.html" %}
                    {% empty %}
                        <p>{% blocktrans %}No results found.{% endblocktrans %}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="fieldWrapper">
                <input type="submit" value="{% blocktrans %}Invite{% endblocktrans %}" />
            </div>

        </fieldset>
    </form>


{% endblock %}
