{% for form in forms %}
<a href="javascript://" 
    onclick="showhide('form-{{form.getName}}');">{{form.getName}}</a>
{% endfor %}

{% for form in forms %}
<fieldset id="form-{{form.getName}}" style="display:none">
<form action="/" method="post">
{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
    </div>
{% endfor %}

<p><input type="submit" value="Send message" /></p>

</form>
</fieldset>
{% endfor %}
