{% load i18n %}
<li id="content-metadata-box" class="tn-box metadata-box">
    <div class="tn-box-content">
        {% if content.can_view %}
            {% with content.publisher as account %}
                {% include 'account/summary.part.html' %}
            {% endwith %}
            <ul class="global-actions">   
                <li>
                    {% blocktrans %}Author:{% endblocktrans %}
                    <a href="{{ content.owner.get_absolute_url }}">
                        {{ content.owner.text_headline|safe }}
                    </a>
                </li>
                <li>
                    {% blocktrans %}Created:{% endblocktrans %}
                    {{ content.created_at }}
                </li>
                <li>
                    {% blocktrans %}Permissions:{% endblocktrans %}
                    {{ content.permissions }}
                </li>
            </ul>         
        {% endif %}
    </div>
</li>
