{% load i18n %}
{# Generate a summary for 'content' object #}
<div class="post" id="post-{{content.id}}">
    <div class="entry notification">
        {% if content.object.headline %}
            <span class="headline">
                {{ content.object.headline|safe }}
            </span>
        {% endif %}
        {% if content.object.summary %}
            <div class="summary-content">
                {{ content.object.summary|safe }}
            </div>
        {% endif %}
        <span class="postmetadata">
          <ul>
            <li class="date">
              {{ content.created_at|timesince }}
            </li>
            {#     {{ content.language }} | #}
            {#     {{ content.permissions }} #}
          </ul>
        </span>
    </div>
</div>
