{# Generate a summary for 'content' object #}
<div class="post" id="post-{{content.id}}">
    <div class="account-picture">
        <img src="{% url twistranet.views.resource_by_account content.author.id 'picture' %}">
    </div>
    <h3><a href="{% url twistranet.views.account_by_id content.author.id %}">{{ content.author.fullname }}</a> {{ content.object.getText }}</h3>
    <div class="entry">
    </div>
    <div class="postmetadata">
        {{ content.content_type }}
        {{ content.date }}
        {{ content.permissions }}
    </div>
</div>
