{% extends "base.html" %}

{% block title %}{{ content.text_headline }}{% endblock %}

{% load i18n %}

{% block content %}
    <h1>{{ content.html_headline|safe }}</h1>

    <div class="content-summary">
        {{ content.html_summary|safe }}
    </div>
    
    <div class="content-text">
        {{ content.text|safe }}
    </div>

{% endblock %}

{% block contextbar %}
    {% with logged_account as account %}
        {% include 'account/profile.box.html' %}
    {% endwith %}
    {% include 'content/actions.box.html' %}
    {% include 'content/metadata.box.html' %}
{% endblock %}

