{% extends "base.html" %}

{% block title %}{{ content.text_headline }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Home</a> > {{ content.text_headline }}
{% endblock %}
{% load i18n %}

{% block content %}
    <h1>{{ content.html_headline }}</h1>

    {{ content.html_summary }}
    
    {{ content.text }}

{% endblock %}

{% block contextbar %}
    <ul>
        {% with logged_account as account %}
            {% include 'account/profile.box.html' %}
        {% endwith %}
        {# {% include 'content/actions.box.html' %} #}
        {# {% include 'content/metadata.box.html' %} #}
    </ul>
{% endblock %}

