{# Generate a summary for an 'account' object #}
{% load i18n %}
{% load wiki %}
<div class="post" id="post-{{content.id}}">
    {% include 'account/medium.thumbnail.alone.html' %}
    <div class="entry">
        <a class="author" href="{{ account.get_absolute_url }}">{{ account.title }}</a>
        <div class="summary-content">
            {{ account.description|wiki }}
        </div>
        <div class="postmetadata">
            <ul class="network-actions">
                {% if account.has_pending_network_request %}
                    <li class="action">
                        <a class="tn-button tn-button-default"
                            title="{% blocktrans %}Accept in my network{% endblocktrans %}"
                           href="{% url add_to_my_network account.id %}">{% blocktrans %}Accept{% endblocktrans %}</a>
                    </li>
                    <li class="action">
                        <a class="tn-button tn-button-discreet"
                            title="{% blocktrans %}Ignore request to add in my network{% endblocktrans %}"
                           href="">{% blocktrans %}Ignore{% endblocktrans %}</a>
                    </li>                    
                {% else %}
                    {% if account.can_add_to_my_network %}
                        <li class="action">
                            <a href="{% url add_to_my_network account.id %}">{% blocktrans %}Add to my network{% endblocktrans %}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="clearfix"><!-- --></div>
</div>
