/* Fieldset for form containment */

fieldset {
	padding: 0 5px 5px;
	margin: 0 0 15px;
	border: 1px dashed #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

fieldset legend {
	text-transform: capitalize;
	margin: -3px 0 -3px -1px;
	padding: 1px 1px 2px;
	background-color: #efefef;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

fieldset legend a,
fieldset legend a:link,
fieldset legend a:hover,
fieldset legend a:visited,
fieldset legend span {
  padding: 0 7px; 
  color: #686868;
  text-decoration: none;
}

fieldset legend span {
  font-weight: bold;
}

ul.inline-form {
  margin: 8px 0 0;
  padding: 0;
}

ul.inline-form li {
  list-style: none;
  padding: 0;
  margin: 0 0 5px;
}

ul.inline-form li.inlinefield {
  display: inline;
  padding: 0 10px 0 0;
  margin: 0;
}

ul.inline-form li label {
  width: 50%;
  vertical-align: top;
  margin-top: 1em;
  display: none;
}

.fieldWrapper {
  margin-bottom: 10px;
  padding: 10px 0;
}

.fieldWrapperWithError {
  background-color: #F7F1F1;
  border: 1px solid #BE261E;
  -moz-border-radius: 3px;  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1em;
}

.fieldWrapper label {
  font-size: 1.3em;
}

.fieldWrapper  label,
.fieldWrapper  input,
.fieldWrapper  select,
.fieldWrapper  textarea {
  display: block;
  margin-bottom: 0.5em;
}

input[type="submit"] {
  background-color:#278fb8;
  border-color:#999;
  cursor:pointer;
  float: right;
  color: white;
  height: 24px;
  padding: 0 5px
}

ul.errorlist {
  float: right;
  color: #BE261E;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
ul.errorlist li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 2px 0;
}