/*---------------------------------------------------------------- 
  Global typography
---------------------------------------------------------------- */

body {
	font-family: "Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana,sans-serif;
	font-size: 11px;
	color: #444;
	}
  
/* Headings
***************************************************************************** */
h1,h2,h3,h4,h5,h6 {
	color: #444;
	font-weight: normal;
	line-height: 1.2em;
	margin:0.5em 0 0.2em;
	clear: both;
}
	
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

	
h5 { 
	font-size: 12px;
	font-weight: bold; }
	
h6 { 
	font-size: 11px;
	font-weight: bold; }

code, pre {
	margin: 1em 0;
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: #000;
	}

pre {
	overflow: auto;
	padding: 1em;
	border: 1px solid #ddd;
	background: #f1f1f1;
	}
	pre.script {
		border: 1px dashed #ccd;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background: #ffffdd;
	}

blockquote {
	font-style: italic;
	padding-left: 48px;
	background: url(../images/icons/quote.png) 0 0 no-repeat;
}

acronym, abbr
{
	font-size: 9px;
	letter-spacing: .07em;
	cursor: help;
	border-bottom: 1px dashed #999;
}


/* General elements
***************************************************************************** */
p {
	margin: .5em 0 1em 0;
	line-height: 1.5em;
}
	p.last { margin-bottom: 0!important; }
	p img {
		/* margin: 0 15px 10px 0; */
		padding: 0; }

hr { display: none; }

strong { 
	color:#666;
	font-weight: bold;
}
	
em { font-style: italic; }

.small { font-size: 9px; color: #666; }

.large { font-size: 12px; }

.resalted { font-weight: bold; }

.highlight  { background: #e7feb1; padding: 0 .25em; margin: 0 .25em; }

.center { text-align: center;	}

.hidden {	display: none; }

.underlined { border-bottom: 1px solid #cdd; }


/* General elements
***************************************************************************** */

input, select, textarea {
  font-family: "Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana,sans-serif;
  font-size: 11px;
}

input {
	padding: 4px 8px;
	border: 1px solid #cdd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #f9ffff;
}
input.button {
	float: right;
	padding: 4px 8px;
	border: 1px solid #cdd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #26a;
	color: #cdd;
}
input.button:hover {
	background: #be261e;
	color: #fff;
}
input.button:active {
	background: #333;
	color: #fff;
}

label {
  display: block;
  font-weight: bold;
	color: #666;
}

textarea {
	padding: 9px;
	border: 1px solid #cdd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #f9ffff;
}

/* Links
***************************************************************************** */

a {	text-decoration: none; }
	a:link    { color: #ad1c20; }
	a:hover   { color: #ad1c20; }
	a:active  { color: #ad1c20; }
	a:visited { color: #ad1c20; }

a img {	border: none;	}

#content a:hover,
#content a:active {
  text-decoration: underline;
}

/* list 
***************************************************************************** */

/* Unordered and Ordered list */
ul, ol { 
	margin: .5em 1.5em 2em 1.7em;
}

ul { 	list-style-type: disc; }

ol { list-style-type: decimal}
	/* on the search results page */
	ol.list li { margin-bottom: 2em; }
	ol.list h4 { margin: 0 0 .2em; }

/* Definiton list */	
dl { margin: 0 0 1.5em 0; }
	dl dt { font-weight: bold; }
	dd { margin-left: 1.5em; }
	

/* Tables
***************************************************************************** */
	
