{% load i18n %}
<li id="community-actions-box" class="tn-box actions-box">
    
    <ul class="edit-actions">
            {# Display the admin links #}
        {# XXX TODO: Put it on the left bar, not the right bar? #}
        {% if community.can_edit %}
            <li><a class="action" href="{% url twistranet.views.edit_community community.id %}" title="{% trans 'Edit this community' %}">{% trans "Edit this community" %}</a></li>
        {% endif %}

        {% if community.can_delete %}
            <li>
              <a class="action confirmbefore"
                 href="{% url twistranet.views.delete_community community.id %}"
                 title="{% trans 'Delete this community' %}">
                 <span>{% trans "Delete this community" %}</span>
                 <!-- because the link has class 'confirmbefore' we can use a specific confirm message -->
                 <span class="confirm-message">{% blocktrans %}This action is irreversible, are you sure ?{% endblocktrans %}</span>
              </a>
            </li>
        {% endif %}    
    </ul>
    {# Display the 'join'/'leave' links #}
    <ul class="global-actions">

        {% if not is_member %}
            {% if community.can_join %}
                <li>
                  <a href="" 
                     class="action main-action confirmbefore"
                     title="{% trans 'Join this community' %}">
                     <span>{% blocktrans %}Join this community{% endblocktrans %}</span>
                     <!-- because the link has class 'confirmbefore' we can use a specific confirm message -->
                     <span class="confirm-message">{% blocktrans %}Would you really want to join the community '{{ community.screen_name }}' ?{% endblocktrans %}</span>
                  </a>
                </li>
            {% endif %}
        {% else %}
            {% if community.can_leave %}
                <li>
                  <a href=""
                     class="action confirmbefore"
                     title="{% trans 'Leave this community' %}">
                     <span>{% blocktrans %}Leave this community{% endblocktrans %}</span>
                     <!-- because the link has class 'confirmbefore' we can use a specific confirm message -->
                     <span class="confirm-message">{% blocktrans %}Would you really want to leave the community '{{ community.screen_name }}' ?{% endblocktrans %}</span>
                  </a>
                </li>
            {% endif %}
        {% endif %}

    </ul>
</li>