{% load i18n %}
<li id="community-actions-box" class="tn-box sidebar-box actions-box">
    
    <ul class="edit-actions">
            {# Display the admin links #}
        {# XXX TODO: Put it on the left bar, not the right bar? #}
        {% if community.can_edit %}
            <li><a class="action" href="{% url twistranet.views.edit_community community.id %}" title="{% trans 'Edit this community' %}">{% trans "Edit this community" %}</a></li>
        {% endif %}

        {% if community.can_delete %}
            <li><a class="action" href="{% url twistranet.views.delete_community community.id %}" title="{% trans 'Delete this community' %}">{% trans "Delete this community" %}</a></li>
        {% endif %}    
    </ul>
    {# Display the 'join'/'leave' links #}
    <ul class="global-actions">

        {% if not i_am_in %}
            {% if community.can_join %}
                <li><a href="" class="action main-action">{% trans "Join this community" %}</a></li>
            {% endif %}
        {% else %}
            {% if community.can_leave %}
                <li><a href="" class="action">{% trans "Leave this community" %}</a></li>
            {% endif %}
        {% endif %}

    </ul>
</li>