{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ community.name }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Home</a> > {% if community %}{{ community.name }}{% else %}{% trans "New community" %}{% endif %}
{% endblock %}
{% load i18n %}

{% block content %}
    {% if community %}
        <h1><a href="{% url twistranet.views.community_by_id community.id %}">{{ community.name }}</a></h1>    
        <form action="{% url twistranet.views.edit_community community.id %}" method="post">
    {% else %}
        <h1>{% trans "New community" %}</h1>    
        <form action="{% url twistranet.views.create_community %}" method="post">
    {% endif %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
        {% endfor %}
        {% csrf_token %}
        <p><input type="submit" value="Save" /></p>
    </form>
    
{% endblock %}

{% block contextbar %}
{% endblock %}

