{% load i18n %}
{% if community %}
    <li id="community-profile-box" class="tn-box profile-box">
      <a href="{% url twistranet.views.community_by_slug community.slug %}" class="image-block image-block-50-50 image-block-alone">
        <img width="50" height="50" src="{% url twistranet.views.resource_by_account community.id 'picture' %}">  
      </a>                                         
      <h2 class="box-header">
        <a href="{% url twistranet.views.community_by_slug community.slug %}">
           {{ community.text_headline }}
        </a>
      </h2>
      <p class="discreet">
        {{ community.description }}
      </p>
    </li>
{% endif %}