{# Generate a summary for a 'community' object #}
{% load i18n %}
{% load macros %}
{% loadmacros "thumbnails/main-macro.html" %}
<div class="post" id="post-{{community.id}}">
    {% usemacro accountthumbnail 50 50 account %}
    <div class="entry">
        <a class="author" href="{% url twistranet.views.account_by_id account.id %}">{{ account.screen_name }}</a>
        <div class="summary-content">
            {{ account.description|safe }}
        </div>
        <div class="postmetadata">
            {{ account.permissions }} |
            {# XXX TODO: Fix members count in search results #}
            {{ account.members.count }} members
        </div>
    </div>
</div>

