{% extends "base.html" %}

{% block title %}{{ community.screen_name }}{% endblock %}

{% load i18n %}

{% block content %}
    <h1>{{ community.screen_name }}</h1>
    <p class="discreet">&nbsp;</p>
    {% if community.can_publish %}
        {% include "community/community_forms.part.html" %}
    {% endif %}

    {% for content in latest_content_list %}
        {%include content.object.summary_view %}
    {% empty %}
        <p>{% blocktrans %}No contents are available.{% endblocktrans %}</p>
    {% endfor %}

{% endblock %}

{% block contextbar %}
        {% include 'community/profile.box.html' %}
        {% include 'community/actions.box.html' %}
        {% include 'community/members.box.html' %}
{% endblock %}

