{% load i18n %}
{% load wiki %}
{% for comment in content.comments.all %}
        <div class="comment" id="post-{{comment.id}}">
            <div class="comment-thumbnail">
                {% with comment.owner_for_display as account %}
                    {% include 'account/small.thumbnail.alone.html' %}
                {% endwith %}
            </div>
            {% with comment as content %}
            <div class="entry">
                <div class="content-actions">
                    {% include 'actions/content_summary.part.html' %}
                </div>
                <div class="entry-main">
                    <div class="publisher">
                        <a href="{{ content.owner.get_absolute_url }}">
                            {{ content.owner.title }}
                        </a>
                    </div>
                    <span class="headline">
                        {{ content.title_or_description }}
                    </span>
                </div>
                <div class="postmetadata">
                    <ul>
                        {% if not content.owner_for_display == content.owner %}
                            <li class="author">{{ content.owner.title }}</li>
                        {% endif %}
                        <li class="date">{{ content.created_at|timesince }}</li>
                        {% if content.language %}<li class="lang">{{ content.language }}</li>{%endif%}
                        <!-- {{ content.id }} -->
                    </ul>
                </div>
            </div>
            {% endwith %}
            <div class="clearfix"><!-- --></div>
        </div>
{% endfor %}

{# Display the comment form if it's available #}
{% if form %}
    <form class="comment-form" action="{% url comment_list_ajax content.id %}" method="post" enctype="multipart/form-data">
        <ul class="inline-form">
            {{ form.as_ul }}
            <li>
                {% csrf_token %}
                <label>&nbsp;</label>
                <input type="submit" value="{% trans 'Send' %}" />
            </li>
        </ul>
    </form>
{% endif %}



