{% load i18n %}
{% for form in content_forms %}
<fieldset id="form-{{form.getName}}" {% if forloop.counter != 1 %}style="display: none;"{% endif %}>
    <legend>
        {% for formhandle in content_forms %}
            {% if formhandle.getName == form.getName %}
                <span id="formhandle-{{ formhandle.getName }}">
                    {{ formhandle.getName }}
                </span>
            {% else %}
                <a id="formhandle-{{ formhandle.getName }}" href="form-{{formhandle.getName}}">{{formhandle.getName}}</a>
            {% endif %}
        {% endfor %}
    </legend>
    <form action="." method="post" class="enableAutoFocus" enctype="multipart/form-data">
        <ul class="inline-form">
            {{ form.as_ul }}
            <li>
                <input type="hidden" name="validated_form" value="{{form.getName}}" />
                {% csrf_token %}
                <label>&nbsp;</label>
                <input type="submit" value="{% trans 'Send' %}" />
            </li>
        </ul>
    </form>
</fieldset>
{% endfor %}
