{% load i18n %}
{% if actions.content_creation %}
<li class="tn-box global-box creation-box">
    <h3>{% trans "Create content" %}</h3>
    <div class="tn-box-content">
        <ul>
            {% for action in actions.content_creation %}
              <li>
                  <a
                      class="action"
                      href="{{ action.url }}">
                      {{ action.label }}
                  </a>
              </li>
            {% endfor %}
        </ul>
    </div>
</li>
{% endif %}
