{% load i18n %}
{% load wiki %}
{# Generate a summary for 'content' object #}
<div class="post" id="post-{{content.id}}">
    <div class="summary-thumbnail">
        {% with content.owner_for_display as account %}
            {% include 'account/medium.thumbnail.alone.html' %}
        {% endwith %}
    </div>
    <div class="entry">
        <div class="content-actions">
            {% include 'actions/content_summary.part.html' %}
        </div>
        <div class="entry-main">
            <div class="publisher">
                <a href="{{ content.owner_for_display.get_absolute_url }}">
                    {{ content.owner_for_display.title }}
                </a>
                {% if not content.owner_for_display.id == content.publisher_id %}
                <a class="publisher" href="{{ content.publisher.get_absolute_url }}">&raquo; {{ content.publisher.title }}</a>
                {% endif %}
            </div>
            <span class="headline">
                {% if content.detail_view %}
                    <div class="summary-content">
                        <div class="headline-content">
                            <a class="content-title"
                               href="{{ content.get_absolute_url }}">
                                {{ content.title_or_description }}
                            </a>
                            <div class="summary-thumbnail">                  
                                {% include 'content/medium.thumbnail.html' %}
                            </div>
                            <div class="content-description">
                            {{ content.description|wiki }}
                            </div>
                            <div class="clear"></div>
                        </div>          
                    </div>
                {% endif %}
            </span>
        </div>
        <div class="postmetadata">
            <ul>
                {%if not content.owner_for_display == content.owner %}
                    <li class="author">{{ content.owner.title }}</li>
                {% endif %}
                <li class="date">{{ content.created_at|timesince }}</li>
                {%if content.language %}<li class="lang">{{ content.language }}</li>{%endif%}
                <li class="target">{{ content.permissions }}</li>
                {%if content.can_edit %}
                    <li class="action">
                        <a href="{% url edit_content content.id %}">Edit</a>
                    </li>
                {%endif%}
                <!-- {{ content.id }} -->
            </ul>
        </div>
    </div>
    <div class="clearfix"><!-- --></div>
</div>
