{% extends "email/basemail.html" %}
{% load i18n %}

{% block content %}
{% with client.title as client_title %}
{% with target.title as target_title %}
{% with client.get_absolute_url as client_get_absolute_url %}

<p>
{% blocktrans %}Dear {{ target_title }},{% endblocktrans %}
</p>
<p>  
  {% blocktrans %}You just recieved a request from {{ client_title }} to join your network.{% endblocktrans %}
</p>
<p>
  {% blocktrans %}You have to take an action!{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Visit <a href="{{ client_get_absolute_url }}">{{ client_title }}'s page</a> to accept or decline his/her request.{% endblocktrans %}
</p>
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}
