{% load thumbnail %}
<div class="thumbnail-account-part thumbnail-50-bottom">
      <a href="{{ account.get_absolute_url }}" class="image-block image-block-50-50">
      {% thumbnail  account.picture.image "50x50" as thumb %}
          <img
              title="{{ account.text_headline|safe }}"
              alt="{{ account.text_headline|safe }}"
              src="{{ thumb.url }}" />
      {% endthumbnail %}
      </a>
      <label class="thumbnail-account-legend">
        <a href="{{ account.get_absolute_url }}">
         {{ account.text_headline|safe }}
        </a>
      </label>
</div>
