{% load i18n %}
{% if community.managers %}
<li id="community-managers-box" class="tn-box managers-box">
    <h3>{% blocktrans %}Community Managers{% endblocktrans %}</h3>
    <div class="tn-box-content-header">
      <div class="right-inbox">
        <a href="{% url community_managers community.id %}">
          {% blocktrans %}See all{% endblocktrans %}
        </a>
      </div>
      <div class="left-inbox">{% blocktrans %}{{n_managers}} managers{% endblocktrans %}</div>     
      <div class="clear"><!-- --></div>   
    </div>      
    <div class="tn-box-content">
      <ul class="thumbnails-inner">
        {% for account in managers %}
            {% include "account/medium.thumbnail.html" %}
        {% endfor %}
      </ul>
      <div class="clearfix"><!-- --></div>
    </div>
</li>
{% endif %}

<li id="community-members-box" class="tn-box members-box">
    <h3>{% blocktrans %}Members{% endblocktrans %}</h3>
    <div class="tn-box-content-header">
      <div class="right-inbox">
        <a href="{% url community_members community.id %}">
          {% blocktrans %}See all{% endblocktrans %}
        </a>
      </div>
      <div class="left-inbox">{% blocktrans %}{{n_members}} members{% endblocktrans %}</div>     
      <div class="clear"><!-- --></div>   
    </div>    
    <div class="tn-box-content">
      <ul class="thumbnails-inner">
        {% for account in members %}
            {% include "account/medium.thumbnail.html" %}
        {% endfor %}
      </ul>
      <div class="clearfix"><!-- --></div>
    </div>
</li>
