{# Generate a summary for a 'community' object #}
{% load i18n %}
{% load wiki %}
<div class="post" id="post-{{community.id}}">
    {% include 'account/medium.thumbnail.alone.html' %}
        <div class="entry">
            <a class="author" href="{{ account.get_absolute_url }}">{{ account.title }}</a>
            <div class="summary-content">
                {{ account.description|wiki }}
            </div>
            <div class="postmetadata">
                <ul>
                    <li class="target">
                        {{ account.permissions }}
                    </li>
                    <li class="members">
                        {{ account.members.count }} members
                    </li>
                </ul>
            </div>
        </div>
</div>

