{% load i18n %}
{% if actions.account %}
<li class="tn-box global-box general-box">
    <h3 class="account-actions">{% trans "Users and Communities" %}</h3>
    <div class="tn-box-content">
      <ul>
          {% for action in actions.account %}
            <li>
                <a
                    class="action"
                    href="{{ action.url }}">
                    {{ action.label }}
                </a>
            </li>
          {% endfor %}
          
      </ul>
    </div>
</li>
{% endif %}

{% if actions.global %}
<li class="tn-box global-box general-box">
    <h3 class="global-actions">{% trans "Toolbox" %}</h3>
    <div class="tn-box-content">
        <ul>
            {% for action in actions.global %}
              <li>
                  <a
                      class="action"
                      href="{{ action.url }}">
                      {{ action.label }}
                  </a>
              </li>
            {% endfor %}
        </ul>
    </div>
</li>
{% endif %}