{% load i18n %}
<ul>
    {% if content.can_delete %}
        <li>
            <a href="{% url twistranet.views.delete_content content.id %}" 
               class="icon-delete confirmbefore"
               title="{% trans 'Delete content' %}">
              <span>{% blocktrans %}Delete{% endblocktrans %}</span>
              <!-- because the link has class 'confirmbefore' we can use a specific confirm message -->
              <span class="confirm-message">{% blocktrans %}This action can't be undone, are you sure ?{% endblocktrans %}</span>
            </a>
        </li>
    {% endif %}
</ul>