/* Content-related stuff, including small content views */

.account-picture {
    float: left;
    margin: 0 5px 5px 0;
}

.post {
	margin-top: 1.5em;
	padding: 0;
	background: none;
	clear: both;
}

.entry {
    margin: 0;
}

.entry h3 {
    font-size: 14px;
    font-weight: normal;
/*    display: inline;*/
}

.author {
    font-weight: bold;
}

.entry .postmetadata {
    font-size: 90%;
    color: #999;
    text-align: right;
	line-height: auto;
}
