/* Content-related stuff, including small content views */

.account-picture {
    float: left;
    margin: 0 0px 0 10px;
}

.post {
	margin-top: 1em;
	padding: 0 0 2em 0px;
	background: none;
}

.entry {
    float: left;
    width: 450px;
    margin: 0 0px 0 10px;
}

.entry h3 {
    font-size: 14px;
    font-weight: normal;
/*    display: inline;*/
}

.author {
    font-weight: bold;
}

.entry .postmetadata {
    font-size: 12px;
    color: #999;
    text-align: right;
}
