{% load i18n %}
<li id="account-actions-box">
    <ul>
        {% ifequal account.id logged_account.id %}
            {# Hey, it's me! Don't have anything to do. Yet. #}
        {% else %}
            {% if account_in_my_network %}
                <li>
                    <a href="" class="action">{% trans "Remove from my network" %}</a>
                </li>
            {% else %}
                <li>
                    <a href="" class="action main-action">{% trans "Add to my network" %}</a>
                </li>
            {% endif %}
        {% endifequal %}
    </ul>
</li>