{% load i18n %}
<li id="account-actions-box" class="tn-box actions-box">
    {% ifequal account.id logged_account.id %}
      <ul class="edit-actions">
          {# Hey, it's me! >> TODO make the edit profile view #}
          <li><a href="" class="action">{% trans "Edit my profile" %}</a></li>
      </ul>
    {% else %}
      <ul class="global-actions">   
        {% if account_in_my_network %}
            <li>
                <a href="" class="action">{% trans "Remove from my network" %}</a>
            </li>
        {% else %}
            <li>
                <a href="" class="action main-action">{% trans "Add to my network" %}</a>
            </li>
        {% endif %}
      </ul>         
    {% endifequal %}
</li>