<div class="thumbnail-account-part thumbnail-50-bottom">
    <a href="{{ account.get_absolute_url }}" class="image-block image-block-50-50">
          <img
              title="{{account.text_headline}}"
              alt="{{account.text_headline}}"
              src="{% url twistranet.views.resource_by_account account.id 'picture' %}" />
      </a>
      <label class="thumbnail-account-legend">
        <a href="{{ account.get_absolute_url }}">
         {{ account.text_headline }}
        </a>
      </label>
</div>
