{% load i18n %}
{% if account %}
  {% load macros %}
  {% loadmacros "thumbnails/main-macro.html" %}
    <li id="account-profile-box" class="tn-box profile-box">
      {% usemacro accountthumbnail 50 50 account %}                                         
      <h2 class="box-header">
        <a href="{% url twistranet.views.account_by_slug account.slug %}">
          {{ account.text_headline }}
        </a>
      </h2>
      <p class="discreet">
        {{ account.html_summary }}
      </p>
    </li>
{% endif %}