{% load i18n %}
<li class="tn-box relations-box">
    {% ifequal account.id logged_account.id %}
        <h3>{% blocktrans %}My Communities{% endblocktrans %}</h3>
    {% else %}
        <h3>{% blocktrans %}His/Her Communities{% endblocktrans %}</h3>    
    {%endifequal%}         
    <div class="tn-box-content-header">
      <div class="right-inbox">
        <a href="{% url account_communities account.id %}">
          {% blocktrans %}See all{% endblocktrans %}
        </a>
      </div>
      <div class="left-inbox">{% blocktrans %}{{n_communities}} communities{% endblocktrans %}</div>     
      <div class="clear"><!-- --></div>   
    </div>
    <div class="tn-box-content">  
      <ul class="thumbnails-inner">
        <li>
          {% for account in account.communities_for_display %}
              {% include 'account/medium.thumbnail.html' %}
          {% endfor %}
        </li>
      </ul>
      <div class="clearfix"><!-- --></div>
    </div>
</li>
<li class="tn-box relations-box">
    {%ifequal account.id logged_account.id %}
        <h3>{% blocktrans %}My Network{% endblocktrans %}</h3>
    {%else%}
        <h3>{% blocktrans %}His/Her Network{% endblocktrans %}</h3>
    {%endifequal%}        
    <div class="tn-box-content-header">
      <div class="right-inbox">
        <a href="{% url account_network account.id %}">
          {% blocktrans %}See all{% endblocktrans %}
        </a>
      </div>
      <div class="left-inbox">{% blocktrans %}{{n_network_members}} members{% endblocktrans %}</div>     
      <div class="clear"><!-- --></div>   
    </div>
    <div class="tn-box-content">
      <ul class="thumbnails-inner">
        <li>
          {% for account in account.network_for_display %}
                {% include 'account/medium.thumbnail.html' %}
          {% endfor %}
        </li>
      </ul>
      <div class="clearfix"><!-- --></div>
    </div>
</li>
