{% load i18n %}
<h2>{{ account.name }}</h2>
<img src="{% url twistranet.views.resource_by_account account.id 'picture' %}">
<h3>{% blocktrans %}My Communities{% endblocktrans %}</h3>
<ul>
    {% for community in account.my_communities %}
        {%include "community/thumbnail.part.html" %}
    {% endfor %}
</ul>
    

<h3>{% blocktrans %}My Network{% endblocktrans %}</h3>
<ul>
    {% for account in account.getMyNetwork %}
        {%include "account/thumbnail.part.html" %}
    {% endfor %}
</ul>

<h3>{% blocktrans %}I follow them{% endblocktrans %}</h3>
<ul>
    {% for account in account.getMyFollowed %}
        {%include "account/thumbnail.part.html" %}
    {% endfor %}
</ul>

<h3>{% blocktrans %}They follow me{% endblocktrans %}</h3>
<ul>
    {% for account in account.getMyFollowers %}
        {%include "account/thumbnail.part.html" %}
    {% endfor %}
</ul>
