{% load i18n %}
{% if logged_account %}
    <h3>{% blocktrans %}My Communities{% endblocktrans %}</h3>
    <ul>
        {% for community in logged_account.my_communities %}
            {%include "community/thumbnail.part.html" %}
        {% endfor %}
    </ul>
    

    <h3>{% blocktrans %}My Network{% endblocktrans %}</h3>
    <ul>
        {% for account in logged_account.getMyNetwork %}
            {%include "account/thumbnail.part.html" %}
        {% endfor %}
    </ul>

    <h3>{% blocktrans %}I follow them{% endblocktrans %}</h3>
    <ul>
        {% for account in logged_account.getMyFollowed %}
            {%include "account/thumbnail.part.html" %}
        {% endfor %}
    </ul>

    <h3>{% blocktrans %}They follow me{% endblocktrans %}</h3>
    <ul>
        {% for account in logged_account.getMyFollowers %}
            {%include "account/thumbnail.part.html" %}
        {% endfor %}
    </ul>
{% endif %}