{% load i18n %}
<div class="thumbnail-account-part thumbnail-32-none">
    <a href="{% url twistranet.views.account_by_id account.id %}" class="image-block image-block-32-32">
        <img
            title="{{ account.screen_name }}"
            alt="{{ account.screen_name }}"
            src="{% url twistranet.views.resource_by_account account.id 'picture' %}" />
    </a>
    <label class="thumbnail-account-legend">
      <a href="{% url twistranet.views.account_by_id account.id %}">
       {{ account.screen_name }}
      </a>
    </label>
</div>
