{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if account.html_summary %}
        <p class="discreet">
            {{ account.html_summary }}
        </p>
    {% endif %}
    {% if account.can_publish %}
        {% include "content/content_forms.part.html" %}
    {% endif %}

    {% if latest_content_list %}
        {% for content in latest_content_list %}
            {%include content.summary_view %}
        {% endfor %}
    {% else %}
        <p>{% blocktrans %}No contents are available.{% endblocktrans %}</p>
    {% endif %}

{% endblock %}
