{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <link rel="stylesheet" href="/media/css/base.css" />
    <link rel="stylesheet" href="/media/css/login.css" />
    <link rel="stylesheet" href="/static/css/typography.css" type="text/css" media="screen" />   
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" media="screen" />
	  <style>
          
    {% if justloggedout %}
      .login #container {
        display: none;
      }
    {% endif %}
    
	  </style>
  
  <title>{% block title %}{% blocktrans %}TwistraNet - The social content management system.{% endblocktrans %}{% endblock %}</title>
</head>

<body class="login">
<div id="logo">
    <div class="logo-title">TwistraNet.</div>
</div>

<div class="clear"><!-- --></div>

{% block content %}

  {% if form.errors %}
    <div id="tn-message">
      <p class="error">{% blocktrans %}Sorry, that's not a valid username or password{% endblocktrans %}</p>
    </div>
  {% endif %}
  {% if justloggedout %}
    <div class="logout-message">
      <h2>{% blocktrans %}Logged out{% endblocktrans %}</h2>
      <p>{% blocktrans %}Thanks for spending some quality time on Twistranet.{% endblocktrans %}</p>
      <p><a href="/login" class="login-again">{% blocktrans %}Log in again{% endblocktrans %}</a></p>
    </div>
  {% endif %}  
  <div id="container">
	<div class="colM" id="content">
	  <form id="login-form" action="" method="post" class="enableAutoFocus">
	      {% csrf_token %}
	    <div class="form-row">
		  <label for="username">{% blocktrans %}User name :{% endblocktrans %}</label>
	      <input type="text" name="username" value="" id="username">
		</div>
	    <div class="form-row">
	      <label for="password">{% blocktrans %}Password :{% endblocktrans %}</label>
	      <input type="password" name="password" value="" id="password">
		</div>
	    <div class="submit-row">
          <input type="submit" value="{% trans 'login' %}" />
	      <input type="hidden" name="next" value="{{ next|escape }}" />
		</div>
	  </form>
	</div>
  </div>

{% endblock %}
</body>