{% load thumbnail %}
<div class="thumbnail-account-part thumbnail-50-bottom">
      <a href="{{ account.get_absolute_url }}" class="image-block image-block-tile">
      {% thumbnail account.forced_picture.image "50x50" as thumb %}
          <img
              title="{{ account.title }}"
              alt="{{ account.title }}"
              src="{{ thumb.url }}" />
      {% endthumbnail %}
      </a>
      <label class="thumbnail-account-legend">
        <a href="{{ account.get_absolute_url }}">
         {{ account.title }}
        </a>
      </label>
</div>
