{# Generate a summary for an 'account' object #}
{% load i18n %}
<div class="post" id="post-{{content.id}}">
    {% include 'account/medium.thumbnail.alone.html' %}
    <div class="entry">
        <a class="author" href="{{ account.get_absolute_url }}">{{ account.title }}</a>
        <div class="summary-content">
            {{ account.description|wiki }}
        </div>
        <div class="postmetadata">
            <ul>
                {% if account.has_pending_network_request %}
                    <li class="action">
                        <a href="{% url add_to_my_network account.id %}">{% blocktrans %}Accept network request{% endblocktrans %}</a>
                    </li>
                {% else %}
                    {% if account.can_add_to_my_network %}
                        <li class="action">
                            <a href="{% url add_to_my_network account.id %}">{% blocktrans %}Add to my network{% endblocktrans %}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
