{% extends "email/basemail.html" %}
{% load i18n %}
{% block subject %}
    {% with instance.owner.title as owner %}
    {% with instance.publisher.title as published_on%}
        {% blocktrans %}{{ owner }} published on {{ published_on }}'s wall{% endblocktrans %}
    {% endwith %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% with instance.owner.title as owner %}
    {% with instance.publisher.title as published_on%}
    {% with instance.title_or_description as title_or_description %}
    {% with instance.get_absolute_url as absolute_url %}
        <h2 class="h2">{% blocktrans %}{{ owner }} published  on {{ published_on }}'s wall{% endblocktrans %}</h2>
        
        <p>
        {% blocktrans %}Hi,{% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
                {{ owner }} published on {{ published_on }}'s wall :
            {% endblocktrans %}
        </p>

        <blockquote>
            <a href="{{ domain }}{{ absolute_url }}">{{ title_or_description }}</a>
        </endblockquote>
    
        <p>
            {% blocktrans %}
                To view this content and comment it, visit
                <a href="{{ domain }}{{ absolute_url }}">{{ site_name }}</a>.
            {% endblocktrans %}
        </p>

    
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endblock %}

