{% extends "email/basemail.html" %}
{% load i18n %}
{% block subject %}
    {% with instance.owner.title as owner %}
    {% with instance.content_type as content_type%}
    {% with instance.title as title %}
    {% with instance.absolute_url as absolute_url %}
        {% blocktrans %}{{ owner }} published {{ content_type }}.{% endblocktrans %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endblock %}

{% block content %}
{% with instance.owner.title as owner %}
{% with instance.content_type as content_type%}
{% with instance.title as title %}
{% with instance.absolute_url as absolute_url %}
<h2 class="h2">{% blocktrans %}{{ owner }} published {{ content_type }}.{% endblocktrans %}</h2>
<p>
{% blocktrans %}Hi,{% endblocktrans %}
</p>
<p>  
{% blocktrans %}
    We're happy to tell you that {{ owner }} published a new {{ content_type }}:
{% endblocktrans %}
</p>

<blockquote>
    <a href="{{ domain }}{{ absolute_url }}">{{ title }}</a>
</endblockquote>
    
<p>
{% blocktrans %}
    To view this content and comment it, visit
    <a href="{{ domain }}{{ absolute_url }}">{{ site_name }}</a>.
{% endblocktrans %}
</p>
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}

