{% extends "email/basemail.html" %}
{% load i18n %}

{% block subject %}{% with client.title as client_title %}{{ site_name }} - {% blocktrans %}{{ client_title }} wants to join your network{% endblocktrans %}{% endwith %}{% endblock %}

{% block content %}
{% with client.title as client_title %}
{% with target.title as target_title %}
{% with client.get_absolute_url as client_get_absolute_url %}
<h2 class="h2">{% blocktrans %}{{ client_title }} wants to join your network{% endblocktrans %}</h2>
<p>
{% blocktrans %}Dear {{ target_title }},{% endblocktrans %}
</p>
<p>  
  {% blocktrans %}You just recieved a request from {{ client_title }} to join your network.{% endblocktrans %}
</p>
<p>
  {% blocktrans %}You have to take an action!{% endblocktrans %}
</p>
<p>
  {% blocktrans %}Visit <a href="{{ domain }}{{ client_get_absolute_url }}">{{ client_title }}'s page</a> to accept or decline his/her request.{% endblocktrans %}
</p>
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}
