{% extends "email/basemail.html" %}
{% load i18n %}

{% block subject %}{{ site_name }} - {% blocktrans %}Password reset{% endblocktrans %}{% endblock %}

{% block content %}
{% with target.title as target_title %}
<h2 class="h2">{% blocktrans %}Password reset{% endblocktrans %}</h2>
<p>
    {% blocktrans %}Dear {{ target_title }},{% endblocktrans %}
</p>
<p>
    {% blocktrans %}You requested a password reset for <a href="{{ domain }}">{{ site_name }}</a>.{% endblocktrans %}
</p>
<p>
    {% blocktrans %}To reset your password, just <a href="{{ domain }}{{ reset_password_absolute_url }}">follow this link</a>.{% endblocktrans %}
</p>
<p>
    {% blocktrans %}If you think you recieved this email by mistake, you can safely ignore it.{% endblocktrans %}
</p>
{% endwith %}
{% endblock %}
