{% load i18n %}
<li id="content-metadata-box" class="tn-box metadata-box">
    {% with content.title as title %}
        <h3>{% blocktrans %}About this page...{% endblocktrans %}</h3>
    {% endwith %}
    <div class="tn-box-content">
        <p>
            <strong>{% blocktrans %}Created by:{% endblocktrans %}</strong>
            &nbsp;
            <a href="{{ content.owner.get_absolute_url }}">
                {{ content.created_by.title }}
            </a><br />
            <strong>{% blocktrans %}On:{% endblocktrans %}</strong>
            &nbsp;
            <span>{{ content.created_at }}</span>
        </p>
        <p>
            <strong>{% blocktrans %}Last updated:{% endblocktrans %}</strong>
            &nbsp;
            <span>{% blocktrans with content.modified_at|timesince as date %}{{ date }} ago.{% endblocktrans %}</span>
        </p>
        <p>
            <strong>{% blocktrans %}Scope:{% endblocktrans %}</strong>
            &nbsp;
            <span>{{ content.permissions }}</span>
        </p>
    </div>
</li>
