{% load i18n %}
{% with content.comments.count as comment_count %}
    <div class="comment_ui" id="view{{ content.id }}">
        <a class="view_comments" id="{{ content.id }}" href="">
            {% if comment_count %}
                {% blocktrans count comment_count as counter %}
                    View comment
                {% plural %}
                    View {{counter}} comments
                {% endblocktrans %}
            {% else %}
                {% if content.publisher.can_publish %}
                    {% blocktrans %}Comment{% endblocktrans %}
                {% endif %}
            {% endif %}
        </a>
    </div>
{% endwith %}