{% load i18n %}
{% load wiki %}
{# Generate a summary for 'notification' object #}
<div class="post" id="post-{{content.id}}">
    <div class="entry notification">
        <div class="content-actions">
            {% include 'actions/content_summary.part.html' %}
        </div>
        <span class="headline">
            {{ content.object.message|safe }}
        </span>
        <span class="postmetadata">
          <ul>
            <li class="date">
              {{ content.created_at|timesince }}
            </li>
            {#     {{ content.language }} | #}
            {#     {{ content.permissions }} #}
          </ul>
        </span>
    </div>
</div>
