{% extends "base.html" %}
{% load i18n %}
{% load wiki %}
{% load thumbnail %}

{% block content %}
    <div class="content-file-view">
      <div class="content-summary">
          {{ content.description|fullwiki }}
      </div>
      {% include 'content/large.thumbnail.html' %}
      <div class="content-file-link">
        {% with content.file.title as filetitle %}
          <a href="{{content.file.get_absolute_url}}">
              {% blocktrans %}Download {{filetitle}}{% endblocktrans %}
          </a>
         {% endwith %}
      </div>
      <div class="content-file-size">
        {% with content.size as filesize %}
            {% blocktrans %}Size: {{filesize}}{% endblocktrans %}
        {% endwith %}
      </div>      
    </div>
    <div class="clearfix"><!-- --></div>
    <div class="view-metadata">
      <div class="post">
        <div class="entry">
          <div class="postmetadata">
            <ul>
              <li class="action">
                {% include 'content/summary.comments.part.html' %}
              </li>
            </ul>
          </div>
          <div id="view_comments{{ content.id }}" class="view-comments"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"><!-- --></div>

{% endblock %}
