{% extends "base.html" %}
{% load i18n %}
{% load wiki %}

{% block content %}
    <div class="content-file-view">
      <div class="content-summary">
          {{ content.description|fullwiki }}
      </div>
      {% with content.thumbnails.preview as thumbnail %}
          {% include 'content/thumbnail.link.part.html' %}
      {% endwith %}
      <div class="content-file-link">
        {% with content.file.filename as filename %}
          <a href="{% url download_by_id content.file.id %}">
              {% blocktrans %}Download {{ filename }}{% endblocktrans %}
          </a>
         {% endwith %}
      </div>
      <div class="content-file-infos">
        <span class="content-file-size">
          {% with content.size as filesize %}
              {% blocktrans %}Size: {{ filesize }}{% endblocktrans %}
          {% endwith %}
        </span>
        <span>&nbsp;&sim;&nbsp;</span>
        <span class="content-file-mimetype">
          {% with content.file.mimetype as mimetype %}
              {% blocktrans %}File type: {{ mimetype }}{% endblocktrans %}
          {% endwith %}
        </span>
      </div>
    </div>
    <div class="clearfix"><!-- --></div>
    <div class="view-metadata">
      <div class="post">
        <div class="entry">
          <div class="postmetadata">
            <ul>
              <li class="action">
                {% include 'content/summary.comments.part.html' %}
              </li>
            </ul>
          </div>
          <div id="view_comments{{ content.id }}" class="detailview-comments comments-container">
            {% with content.last_comments as comments %}
                {% include 'content/comments.part.html' %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"><!-- --></div>

{% endblock %}
