{% load i18n %}
{% if current_account %}
    {% if current_account.communities %}
        <li id="communities-box" class="tn-box communities-box">
            <h3>
              <span>{% blocktrans %}My communities{% endblocktrans %}</span>
            </h3>
            <div class="tn-box-content">
              <ul class="thumbnails-inner">
                {% for account in current_account.communities %}
                    {% include "account/medium.thumbnail.html" %}
                {% endfor %}
              </ul>
              <div class="clearfix"><!-- --></div>
            </div>
            <div class="tn-box-footer">
              <a href="{% url account_communities current_account.id %}"
                 class="more">
                {% blocktrans %}See all{% endblocktrans %}
              </a>
            </div>
        </li>
    {% endif %}
{% endif %}
