{% load i18n %}
{% if current_account %}
    {% if current_account.communities_for_display %}
    <li class="tn-box relations-box">
        <h3 class="community-actions">
            <span>{% blocktrans %}My Communities{% endblocktrans %}</span>    
          <span><a href="{% url account_communities current_account.id %}" class="nb-link">({{current_account.communities.count}})</a></span>
        </h3>         
        <div class="tn-box-content">  
          <ul class="thumbnails-inner">
            <li>
              {% for account in current_account.communities_for_display %}
                  {% include 'account/medium.thumbnail.html' %}
              {% endfor %}
            </li>
          </ul>
          <div class="clearfix"><!-- --></div>
        </div>
        <div class="tn-box-footer">
          <a href="{% url account_communities current_account.id %}"
             class="more">
            {% blocktrans %}See all{% endblocktrans %}
          </a>
        </div>
    </li>
    {% endif %}
{% endif %}
