{% load i18n %}
{% if community.managers %}
<li id="community-managers-box" class="tn-box managers-box">
    <h3>
      <span>{% blocktrans %}Community Managers{% endblocktrans %}</span>
      <span><a href="{% url community_managers community.id %}" class="nb-link">({{n_managers}})</a></span>
    </h3>
    <div class="tn-box-content">
      <ul class="thumbnails-inner">
        {% for account in managers %}
            {% include "account/medium.thumbnail.html" %}
        {% endfor %}
      </ul>
      <div class="clearfix"><!-- --></div>
    </div>
    <div class="tn-box-footer">
      <a href="{% url community_managers community.id %}"
         class="more">
        {% blocktrans %}See all{% endblocktrans %}
      </a>
    </div>
</li>
{% endif %}

<li id="community-members-box" class="tn-box members-box">
    <h3>
      <span>{% blocktrans %}Members{% endblocktrans %}</span>
      <span><a href="{% url community_members community.id %}" class="nb-link">({{n_members}})</a></span>
    </h3>
    <div class="tn-box-content">
      <ul class="thumbnails-inner">
        {% for account in members %}
            {% include "account/medium.thumbnail.html" %}
        {% endfor %}
      </ul>
      <div class="clearfix"><!-- --></div>
    </div>
    <div class="tn-box-footer">
      <a href="{% url community_members community.id %}"
         class="more">
        {% blocktrans %}See all{% endblocktrans %}
      </a>
    </div>
</li>
