/* Fieldset for form containment */

fieldset {
	padding: 1em 1em 1em 1em;
	margin: 2em 3em 3em 1em;
	border: 1px dashed #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

fieldset legend {
	font-weight: bold;
	text-transform: uppercase;
	margin: -.25em 0 -.25em -3em;
	padding: .25em 1em .25em 1em;
	background-color: white;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

fieldset legend a,
fieldset legend span {
  padding-right: 1em;
}

fieldset legend a:link {
  font-weight: normal;
}

ul.inline-form {
  margin: 0;
  padding: 0;
}

ul.inline-form li {
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0;
}

ul.inline-form li label {
  width: 50%;
  vertical-align: top;
  margin-top: 1em;
  display: none;
}

.fieldWrapper {
  margin-bottom: 2em;
  padding: 0.5em;
}

.fieldWrapperWithError {
  background-color: #F7F1F1;
  border: 1px solid #BE261E;
  -moz-border-radius: 3px;  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1em;
}

.fieldWrapper label {
  font-size: 1.3em;
}

.fieldWrapper  label,
.fieldWrapper  input,
.fieldWrapper  select,
.fieldWrapper  textarea {
  display: block;
  margin-bottom: 0.5em;
}

input[type="submit"] {
  background-color:#CCDDDD;
  border-color:#777777;
  cursor:pointer;
  min-width:100px;
  float: right;
}

ul.errorlist {
  float: right;
  color: #BE261E;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
ul.errorlist li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 2px 0;
}