{% extends "base.html" %}
{% load i18n %}

{% block topbar %}
{% endblock %}

{% block menu_items %}
{% endblock %}

{% block searchform %}
{% endblock %}

{% block globalbar %}
{% endblock %}

{% block contextbar %}
{% endblock %}

{% block content %}
<div class="login">

  {% if justloggedout %}
    <div class="logout-message">
      <p><a href="{% url login %}" class="login-again">{% blocktrans %}Log in again{% endblocktrans %}</a></p>
    </div>
  {% endif %}

{% if not justloggedout %}

  <div id="login-container">
	<div class="colM" id="login-content">
	  <form id="login-form" action="" method="post" class="enableAutoFocus">
	      {% csrf_token %}
	    <div class="form-row">
		  <label for="username">{% blocktrans %}User name :{% endblocktrans %}</label>
	      <input type="text" name="username" value="" id="username">
		</div>
	    <div class="form-row">
	      <label for="password">{% blocktrans %}Password :{% endblocktrans %}</label>
	      <input type="password" name="password" value="" id="password">
		</div>
	    <div class="submit-row">
          <input type="submit" value="{% trans 'login' %}" />
	      <input type="hidden" name="next" value="{{ next|escape }}" />
		</div>
	  </form>
	</div>
  </div>
  
{% endif %}

</div>

{% endblock %}
