{% extends "base.html" %}

{% block title %}{{ account }} Wall{% endblock %}

{% block breadcrumb %}
    <a href="/">Home</a> > {{ account }}
{% endblock %}

{% block contextbar %}
    <ul>
        <li>{% include "account/account.box.html" %}</li>
    </ul>
{% endblock %}


{% block content %}
    {% if account.can_publish %}
        {% include "content/content_forms.part.html" %}
    {% endif %}

    {% if latest_content_list %}
        {% for content in latest_content_list %}
            {%include "content/summary.part.html" %}
        {% endfor %}
    {% else %}
        <p>No contents are available.</p>
    {% endif %}

{% endblock %}
