{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}{{ account }}'s Wall{% endblocktrans %}{% endblock %}

{% block breadcrumb %}
    <a href="/">Home</a> > {{ account }}
{% endblock %}

{% block contextbar %}
    <ul>
        <li>{% include "account/account.box.html" %}</li>
    </ul>
{% endblock %}


{% block content %}
    {% if account.can_publish %}
        {% include "content/content_forms.part.html" %}
    {% endif %}

    {% if latest_content_list %}
        {% for content in latest_content_list %}
            {%include content.object.summary_view %}
        {% endfor %}
    {% else %}
        <p>{% blocktrans %}No contents are available.{% endblocktrans %}</p>
    {% endif %}

{% endblock %}
