{% extends "base.html" %}

{% block title %}{{ community.name }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Home</a> > {{ community.name }}
{% endblock %}
{% load i18n %}

{% block content %}
    <h1>{{ community.name }}</h1>
    {% if community.can_publish %}
        {% include "community/community_forms.part.html" %}
    {% endif %}

    {% for content in latest_content_list %}
        {%include content.object.summary_view %}
    {% empty %}
        <p>{% blocktrans %}No contents are available.{% endblocktrans %}</p>
    {% endfor %}

    <h2>Members</h2>
    <ul class="account-thumbnails">
        {% for account in members %}
            {% include "account/thumbnail.part.html" %}
        {% endfor %}
    </ul>

{% endblock %}

{% block contextbar %}
    {# Display the 'join'/'leave' links #}
    {% if not i_am_in %}
        {% if community.can_join %}
            <a href="" class="main-action">{% trans "Join this community" %}</a>
        {% endif %}
    {% else %}
        {% if community.can_leave %}
            <a href="" class="main-action">{% trans "Leave this community" %}</a>
        {% endif %}
    {% endif %}
{% endblock %}

