{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Wall' %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Activity Feed{% endblocktrans %}</h1>

    {% include "content/content_forms.part.html" %}

    {% if latest_content_list %}
        {% for content in latest_content_list %}
            {%include "content/summary.part.html" %}
        {% endfor %}
    {% else %}
        <p>{% blocktrans %}No contents are available.{% endblocktrans %}</p>
    {% endif %}

{% endblock %}
