/* Content-related stuff, including small content views */

.post {
    margin-top: 0.5em;
    padding: 5px 5px 5px 5px;
    background-color: none;
    clear: both;
    border-bottom: 1px solid #f7f7f7;
    /*cursor: pointer;*/
}

.post.last {
    border-bottom:none !important;
}

.activepost {
  background-color: #F2F2F2;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.author {
    font-weight: bold;
}


.post .summary-thumbnail {
    float: left;
}

.entry {
    display: table-cell;
    width: 505px;
}

.post div.notification {
    padding-left: 57px;
}

.entry .postmetadata {
  color: #999;
  text-align: left;
  line-height: auto;
}
  .entry div.postmetadata {
    margin-top: 7px;
  }
  .entry .postmetadata ul {
    margin: 0;
    padding: 0;
  }  
  .entry .postmetadata ul li {
    margin: 0 0.5em 0 0;
    padding: 1px 0 2px 17px;
    display: inline;
    list-style: none;
    list-style-image: none; 
    list-style-type: none;
  }

.notification .postmetadata ul {
  display: inline;
}

.content-summary {
    font-size:      13px;
    font-weight:    bold;
    margin: 1em 0 1em 0;
}

.content-text {
    font-size:      13px;
    margin: 1em 0 1em 0;
}

.content-text table {
    margin: 8px 0 8px 0;
}

.content-text table tr th {
    background-color: #F6F6F6;
    padding: 10px;
}

.content-text table tbody tr td {
    vertical-align: top;
    padding: 5px;
    background-color: #F9F9F9;
}


.content-actions {
  float: right;
  margin: 0 0 0 0.5em;
  visibility: hidden;
  font-size: 10px;
  min-width: 20px;
  text-align: right;
}

.activepost .content-actions {
  visibility: visible;
}

.content-actions ul {
  margin: 0;
  padding: 0;
  list-style: none;    
  list-style-image: none;
  display: inline;
  white-space: no-wrap;
}

.content-actions ul li {
  list-style: none;    
  list-style-image: none;  
  display: inline;
  margin: 0 0 0 0.5em;
  padding: 0; 
  white-space: no-wrap;
}

.content-actions ul li a:link,
.content-actions ul li a:visited {
  color: #686868;
  text-align: right;
  padding: 2px 2px 2px 14px;
  white-space: no-wrap;
}

.content-actions ul li.first a {  
}
.content-actions ul li a:hover {
  color: #ad1c20;
  text-decoration: none !important;
}

/* for now the only action is "delete", just an icon without text */
.content-actions ul li span {}


/* content views*/

.content-file-view {
    background-color: #F7F7F7;
    border: medium none;
    margin: 10px 0 0;
    padding:10px 20px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.content-file-view img {
   max-width: 700px;     
   max-height: 465px;
}

.content-file-link {
  font-weight: bold;
  margin: 15px 0;
}