/* Fieldset for form containment */

fieldset {
	padding: 0 5px 5px;
	margin: 0 0 15px;
	border: 1px dashed #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

fieldset legend {
	text-transform: capitalize;
	margin: -3px 0 -3px -1px;
	padding: 1px 1px 2px;
	background-color: #efefef;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

fieldset legend a,
fieldset legend a:link,
fieldset legend a:hover,
fieldset legend a:visited,
fieldset legend span {
  padding: 0 7px; 
  color: #686868;
  text-decoration: none;
}

fieldset legend span {
  font-weight: bold;
}

/* inline forms */

ul.inline-form {
  margin: 8px 0 0;
  padding: 0;
}

ul.inline-form li {
  list-style: none;
  padding: 0;
  margin: 0 0 5px;
}

ul.inline-form li.inlinefield {
  display: inline;
  padding: 0 10px 0 0;
  margin: 0;
}

ul.inline-form li label {
  width: 50%;
  vertical-align: top;
  margin-top: 1em;
  display: none;
}

ul.inline-form textarea {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	border-radius: 5px;
  width: 545px;
	padding: 5px;
}

ul.inline-form select {
  background-color: #efefef;
}

/* fields global,
   can be used by edit forms
   or search forms */

.fieldWrapper {
  padding: 10px;
  border-bottom: 1px solid #EEEEEE ;
  clear: both;
}

.fieldWrapper label {
  font-size: 13px;
  float:left;
  margin-right:10px;
  padding:3px 0;
  text-align:right;
  width:25%;
  margin-bottom: 5px;
  display: block;
}

.fieldWrapper  input[type="text"],
.fieldWrapper  textarea {
  display: block;
  margin-bottom: 5px;
  width: 60%;
}

.fieldWrapper  select {

}

.fieldWrapperWithError {
  background-color: #DF2429;
}

.fieldWrapperWithError label {
  color: white; 
}

ul.errorlist {
  color: #efd3d4;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
ul.errorlist li {
  list-style: none;
  list-style-image: none;
  margin: 0 10px 10px;
  padding: 2px 0;
}

.form-controls {
  padding: 15px 10px 0;
}

/* edit forms */

.edit-form fieldset {
   border: none;
   background-color: #f7f7f7;
   padding: 5px 0 10px;
   width: 90%;
   margin-top: 10px;
}