/* Template. Main areas
***************************************************************************** */

body {
	margin: 0;
	background: #f9f9f9 url(../images/body-bg.png) top left repeat-x;
}
#page {
}
#wrapper {
	width: 963px; /*107em*/
	margin: 0 auto;
	padding: 0;
	}
	#header {   
		  position: relative;
		  height: 75px;
	  }
		#head {
		  }
  		#usermenu {
  		}
  		#menubar {
  			width: 776px;
  			height: 27px;      
  			position: absolute;
  			top: 27px;
  			left: 0;
  			margin: 0;
  			padding: 0;
  			clear: both;
  			background: transparent url(../images/menu-bar-bg.png) top left repeat-x;
  			border-color: #d0b6b7;
  			border-width: 1px 1px 0 1px;
  			border-style: solid solid none solid;
  			}
  			#mainmenu {
  			}
		#searchform {
			position: absolute;
			top: 30px; 
			right: -2px;
			width: 182px;
			height: 22px;
			background: transparent url(../images/search-bg.png) top left no-repeat;       
			z-index: 500;
			}
			#search-box {
				width: 182px;
				height: 22px;
			}
			
			#search-text {
				background: transparent none no-repeat 0 0;
				border: none;
				margin: 2px 0 0;
				color: black;
				width: 145px;
			}
			.inactive_search {
        color: #999 !important;
      }
			#search-button,
      #search-button:active {
        border: none;
        background: transparent !important;
        padding: 3px 8px;
        margin: 0;
      }
      #search-live-results {
        position: absolute;
        top: 27px;
        right: 0;
        background-color: white;
        width: 288px;
        display: none;
        padding: 5px;
        border: 1px solid #DF2429;
        z-index: 100;
      }
	#wrap {
		height: 100%; /* Fix IE7 */
		}
		#breadcrumb {
      position: absolute;
			width: 756px;
			text-align: right;
			top: 55px;
		  border-color: #d0b6b7;
			border-width: 0 1px;
			border-style: none solid;
			padding: 5px 10px 2px;
			height: 13px;
			background-color: white;
			overflow: hidden;
		  }
		  #breadcrumb a {
        color: #686868;
        }
		#globalbar {
			width: 181px;
			float: right;	
			clear: right;
			margin: 0;
			word-wrap: break-word;
		}
		#container {
			margin: 0;
			padding: 0 0 10px;
			clear: left;
			float: left;
		  border-color: #d0b6b7;  
			background-color: white;
			border-width: 0 1px 1px;
			border-style: none solid solid;	
      width: 776px;		
			}
			#contextbar {
				width: 181px;
				float: left;	
				margin: 0 0 12px 4px;
				word-wrap: break-word;
			}
			.noleftcol #contextbar {
        display: none;
      } 
  		#tn-message {
      }
      #tn-message ul {
          display: block;
      }
      #tn-message ul li {
          color: white;
          font-weight: bold;
          border: solid 1px #d0b6b7;
          text-align: center;
          padding: 8px 8px 8px 52px;
          margin: 0;
          display: block;
          min-height: 35px;
      }
      
      #tn-message ul li.debug {
          background: #278FB8 url(../images/icons/debug.png) 10px 10px no-repeat;
      }
      #tn-message ul li.info {
          background: #278FB8 url(../images/icons/info.png) 10px 10px no-repeat;
      }
      #tn-message ul li.success {
          background: #A9CC23 url(../images/icons/success.png) 10px 10px no-repeat;
      }
      #tn-message ul li.warning {
          background: #F6777D url(../images/icons/warning.png) 10px 10px no-repeat;
      }
      #tn-message ul li.error {
          background: #DF2429 url(../images/icons/error.png) 10px 10px no-repeat;
      }
      
      
        #tn-message ul li p {
          text-align: left;
        }
			#content {
				width: 571px;
				float: left;
				padding: 0 10px;
			}
			.noleftcol #content {
        float: none;
        width: 756px;
      } 
	#bottom {
		clear: both !important;
	}
		#footer { 
			margin: 0;
			padding: 15px 0;
		}
#tn-dialog-button-cancel,
#tn-dialog-button-ok {
  display: none;
}