{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if account %}
        <form action="{{ path }}"
              method="post"
              class="edit-form enableAutoFocus enableUnloadProtect"
              enctype="multipart/form-data"
              >
    {% else %}
        <form action="{{ path }}" 
              method="post"
              class="edit-form enableAutoFocus enableUnloadProtect">
    {% endif %}
        <fieldset>
            {% include 'form.fieldset.part.html' %}
        </fieldset>
    </form>    
{% endblock %}
