{% load thumbnail %}
{% load i18n %}
{% if account.model_class.is_community %}
    {% if account.is_manager %}
        <a href="{% url twistranet_home %}">
            <span class="community_manager_badge" title="{% blocktrans %}Community manager{% endblocktrans %}">*</span>
        </a>
    {% endif %}
{% endif %}
{% thumbnail account.forced_picture.image "50x50" crop="center top" as thumb %}
  <a title="{{account.title}}"
     href="{{ account.get_absolute_url }}"
     class="image-block image-block-tile image-block-alone">
    <img title="{{account.title}}"
         alt="{{account.title}}"
         src="{{ thumb.url }}" />  
  </a>
{% endthumbnail %}
