{% load thumbnail %}
{% load i18n %}
{% if account.model_class.is_community %}
    {% if account.object.is_manager %}
        <div class="relativizer">
            <a class="community_manager_badge" 
               href="{% url twistranet_home %}"
               title="{% blocktrans %}Community manager{% endblocktrans %}">
                *
            </a>
        </div>
    {% endif %}
{% endif %}
{% thumbnail account.forced_picture.image "50x50" crop="center top" as thumb %}
  <a title="{{account.title}}"
     href="{{ account.get_absolute_url }}"
     class="image-block image-block-tile image-block-alone">
    <img title="{{account.title}}"
         alt="{{account.title}}"
         src="{{ thumb.url }}" />  
  </a>
{% endthumbnail %}
