{% load i18n %}
{% ifnotequal account.id current_account.id %}
{% if account.communities_for_display %}
<li class="tn-box relations-box">
    <h3 class="community-actions">
        <span>{% blocktrans %}His/Her Communities{% endblocktrans %}</span>    
      <span><a href="{% url account_communities account.id %}" class="nb-link">({{n_communities}})</a></span>
    </h3>         
    <div class="tn-box-content">  
      <ul class="thumbnails-inner">
        <li>
          {% for account in account.communities_for_display %}
              {% include 'account/medium.thumbnail.html' %}
          {% endfor %}
        </li>
      </ul>
      <div class="clearfix"><!-- --></div>
    </div>
    <div class="tn-box-footer">
      <a href="{% url account_communities account.id %}"
         class="more">
        {% blocktrans %}See all{% endblocktrans %}
      </a>
    </div>
</li>
{% endif %}
{%endifnotequal%}

{% if account.network_for_display %}
<li class="tn-box relations-box">
    <h3 class="network-actions">
      {%ifequal account.id current_account.id %}
        <span>{% blocktrans %}My Network{% endblocktrans %}</span>
      {%else%}
        <span>{% blocktrans %}His/Her Network{% endblocktrans %}</span>
      {%endifequal%}
      <span><a href="{% url account_network account.id %}" class="nb-link">({{n_network_members}})</a></span>
    </h3>
    <div class="tn-box-content">
      <ul class="thumbnails-inner">
        <li>
          {% for account in account.network_for_display %}
                {% include 'account/medium.thumbnail.html' %}
          {% endfor %}
        </li>
      </ul>
      <div class="clearfix"><!-- --></div>
    </div>
    <div class="tn-box-footer">
      <a href="{% url account_network account.id %}"
         class="more">
        {% blocktrans %}See all{% endblocktrans %}
      </a>
    </div>
</li>
{% endif %}
