{% extends "base.html" %}
{% load i18n %}
{% block local_headers %}
    {% for form in content_forms %}
        {{ form.media }}
    {% endfor %}
{% endblock %}

{% block content %}
    {% include "content/content_forms.part.html" %}
    {% if latest_content_list %}
        {% for content in latest_content_list %}
            {%include content.summary_view %}
        {% endfor %}
    {% else %}
        <p>{% blocktrans %}No contents are available.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
