{% load i18n %}
{% load menubuilder %}

{# This is a 2 levels menu #}
{% menu menu_main %}
{% for item in menuitems %}
    <li class="page_item">
        <a href="{{ item.get_absolute_url }}">{{ item.label }}</a>
        {% if item.has_children %}
            <ul>
                {% for subitem in item.children %}
                    <li><a href="{{ subitem.get_absolute_url }}">{{ subitem.label }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}

