.login #login-container {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: auto;
	width: 130px;
}
.login #login-container #login-content {
	padding: 10px 15px;
	margin: 0;
}

.login .logout-message {
  position: relative;
  margin-top: 40px;
  width: 963px;
  margin: 40px auto 0;
  text-align: left;
  font-size: 110%;
} 

.login .form-row label {
 white-space: nowrap;
 width: 120px;
}

.login .submit-row {
  padding: 11px 0 0 120px;
}