.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    min-width: 100px;
    padding: 4px 15px;
    text-align:center;
    background: #EFEFEF;
    color:#686868;
    float: left;
    cursor: pointer !important;
    margin: 0 10px 15px 0;
    border: 1px solid #ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    cursor: pointer !important;
}

.qq-upload-button input,
.qq-upload-button input:hover {cursor: pointer !important;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background: #F5F5F5; text-align:center; border: 1px dotted black;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 73%; width:100%; font-size:12px;
}
.qq-upload-drop-area-active {}

.qq-upload-list {
    display: block;
    float: left;
    padding:0;
    margin: 0;
    list-style: none outside none}

.qq-upload-list li {
    display: block;
    float: left;
    font-size: 11px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0 2px 0 5px;
    width: 150px;
}

.qq-upload-file {
    width: 100px;
    overflow: hidden;
}


.qq-upload-spinner {display:none; background: transparent url("../images/icons/loading.gif") top left no-repeat; width:15px; height:15px; vertical-align:text-bottom; margin-left: 10px}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-list .qq-upload-cancel,
.qq-upload-list .qq-upload-cancel:hover,
.qq-upload-list .qq-upload-cancel:active {
   display: block;
   float: right;
   width: 16px;
   height: 16px;
   background-image: url("../images/icons/icons-normal.png");
   background-position: 0 -96px;
   background-repeat: no-repeat;
   text-decoration: none !important;
}



.qq-upload-fail { }
.qq-upload-failed-text {display:none; margin-left: 10px;}
.qq-upload-fail .qq-upload-failed-text {display:inline; color: red;}


.qq-upload-list li .qq-upload-size {
    clear: both;
}

.qq-upload-list li .sizeContainer {
    background-color: #FFFFFF;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    margin-top: 6px;
    min-width: 60%;
    height: 3px;
    float: left;
}
.qq-upload-list li .sizeContainer .sizeBar {
    background-color: #0099FF;
    width: 2px;
    height: 3px;
}

.qq-upload-fail .sizeBar { background-color: red !important; }

.qq-upload-list li .sizeTotal {
   width: auto;
   float: right;
   text-align: right;
}

.qq-upload-infos {
   width: 120px;
   height: 15px;
   overflow: hidden;
}

.qq-upload-list li .server-error {
    color: #880000;
    clear: both;
}

.uploadifybuttons {
    clear: both;
    margin-top: 10px;
    text-align:center;
    display: none;
}

.uploadifybutton {
    cursor:pointer;
    text-align:center;
    text-decoration:none;
    padding: 0 2px !important;
    background: none !important;
}

#tnuploadresult {
    float: right;
    width: 39%;
    display: none;
    margin-left: 1%;
}

#tnuploadresult .image-block {
  margin-right: 10px;
}

#tnuploadresult label {
    padding: 3px 0;
}
/* IE7 fixes */

*+html .quick-uploader #label-upload {
    float: none !important;
}

*+html .quick-uploader .qq-upload-button {
    height: 20px !important;
    padding: 4px !important;
}

*+html .quick-uploader .qq-upload-button input[type="file"] {
    font-size: 23px !important;
}