/*----------------------------------------------------------------
IE7 && IE9 fixes
---------------------------------------------------------------- */


#mainmenu ul li a:link,
#mainmenu ul li a:visited {
    background-color: #a8a8a8;
}

#mainmenu ul li.selected > a,
#mainmenu ul li.sfHover > a,
#mainmenu ul li a:active,
#mainmenu ul li a:hover {
    background-color: #e00023;
}

.community_manager_badge {
    background-color: #edc908;
}

.comment-form ul.inline-form textarea {
    width: 420px;
}