/* resource widget helper */

.resource-widget {
    display: table-cell;
    min-width: 70%;
}

.mediaresource-help {
    font-size: 13px;
    color: #686868;
    margin-bottom: 5px;
}

#resources-renderer,
#resources-uploader {
    margin-bottom: 10px;
}

.noleftcol .resource-widget .tnGrid {
    border-spacing: 5px;
}

.fieldWrapper .tnGridItem label {
    width: 100% !important;
    line-height: 12px !important;
}

#resources-selector {
    clear:both;
}

.resourcePane {
    display: none;
}

#resourcepane-main {
    display: block;
}

#resourcepane-main .tnGridItem:hover {
    border-color: #F7F7F7 !important;
}

.resource-back-button {
    cursor: pointer;
    color: #AD1C20;
    padding: 0 3px 5px;
    font-weight: bold;
}

.renderer-preview {
    display: table-cell;
    min-width: 150px;
}

#renderer-new {
    visibility: hidden;
}

#renderer-new .image-block {
    float: left !important
}

#renderer-new .sizes-selection {
    float: left;
}

#renderer-new .sizes-selection label {
    display: inline !important;
    font-weight: lighter;;
}

#renderer-new .sizes-selection p {
    margin: 0 !important;
}       

#renderer-new .sizes-selection h4 {
    margin-bottom: 5px !important;
}

*html .renderer-preview {
    display: block;
    float: left;
    width: 150px;
    overflow: visible;
}
*+html .renderer-preview {
    display: block;
    float: left;
}

.tnQuickUpload {
    height: 65px;
    overflow: visible;
}